/* ====================================================================
                                RESET
=====================================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ====================================================================
                                
=====================================================================*/

main {
    text-align: center;
    padding: 5%;


    section {
        max-width: 30%;
        padding: 50px 30px;
        border-radius: 15px;
        background-color: #FDC692;
        margin: 50px auto;

        h2 {
            font-size: 3rem;
        }

        form {

            article {
                text-align: left;

                div {
                    margin-top: 10px;
                    display: flex;
                    align-items:center;
                    gap: 8px;

                    input,
                    select {
                        margin: 10px 0;
                        min-width: 250px;
                        max-width: 300px;
                        border: none;
                        padding: 8px;
                    }

                    img {
                        width: 32px;
                        height: 32px;
                    }
                    span {
                        font-size: 35px;
                        position: relative;
                        left: -40px;
                    }
                }
            }

            label {
                padding-top: 50px;
                display: inline-block;
                font-size: 1.5rem;
            }


            select {
                margin: 50px auto;
                max-width: 300px;
                border: none;
                padding: 8px;
                font-size: 1rem;
                display: block;
            }
        }

        input[type="submit"] {
            border: none;
            padding: 10px 30px;
            background-color: #06c1ff;
            border-radius: 20px;
        }

        .resultContainer {
            padding: 20px 5px;
            text-align: left;
            p {
                margin: 20px 5px;
            }
        }

    }
}